* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.silex-default-container {
    min-height: 100px;
}

.silex-default-text {
    padding: 10px;
}

body {
    background-color: #06090d;
    border: 1px *solid* #000000;
    color: #ffffff;
    column-rule: #000000;
    font-family: "Press Start 2P", display;
    outline: #000000;
    right: 120px;
    text-decoration: #0c0707 #0e0808 #000000;
    z-index: 1026;
}

#Back {
    background-color: #00040a;
    color: #00a80a;
    font-family: "Press Start 2P", display;
    font-size: 17px;
    height: 45px;
    margin: 0px 0px 0px 0px;
    position: relative;
    right: 0px;
    top: -12px;
    width: 160px;
}

#ia4f5-3-2 {
    background-color: #00040a;
    border: 1px *solid* #000308;
    border-radius: 0px 0px 0px 0px;
    font-family: "Press Start 2P", display;
    margin: 0px 0px 0px 0px;
    min-height: 4px;
    padding: 30px 0px 0px 22px;
    position: absolute;
    width: 1003px;
    z-index: 7555;
}

#i0b59-2 {
    color: #00a80a;
    font-family: "Press Start 2P", display;
    position: absolute;
    right: 10%;
    top: 50%;
    width: 80%;
}
